$('#informations input[type="submit"]').prop('disabled', true);
$('#informations #name-container .errors' ).text('');
$('#informations #email-container .errors' ).text('');
$('#informations #phone-number-container .errors' ).text('');
$('#informations #message-container .errors' ).text('');

<% if(@success) %>
    $('#informations #name' ).val('');
    $('#informations #email' ).val('');
    $('#informations #phone-number' ).val('');
    $('#informations #message').val('');

    $('#informations .request-form .form-respond').html("<p class='alert alert-success'><%= t('messages.email_sent') %></p>");
<% else %>
    <% if(@request.errors[:name].any?) %>
        $('#informations #name-container .errors' ).html('<%= error_messages(@request, :name) %>')
    <% end %>

    <% if(@request.errors[:email].any?) %>
        $('#informations #email-container .errors' ).html('<%= error_messages(@request, :email) %>')
    <% end %>

    <% if(@request.errors[:phone_number].any?) %>
        $('#informations #phone-number-container .errors' ).html('<%= error_messages(@request, :phone_number) %>')
    <% end %>

    <% if(@request.errors[:message].any?) %>
        $('#informations #message-container .errors' ).html('<%= error_messages(@request, :message) %>')
    <% end %>
<% end %>

$('#informations input[type="submit"]').prop('disabled', false);