<!DOCTYPE html>
<html>
  <head>
    <title>Ldv</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg ">
        <%= link_to root_path, class: "navbar-brand" do %>
          <%= image_tag('logo.png') %>
        <% end %>
      
        <div class="collapse navbar-collapse justify-content-end" id="main-menu">
          <ul class="navbar-nav">
            <li class="nav-item">
              <%= active_link_to t('header.menu.about'), root_path + '#about-us', class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= active_link_to t('header.menu.services'), root_path + '#our-services', class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= active_link_to t('header.menu.destinations'), root_path + '#destinations', class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= active_link_to t('header.menu.owners'), owners_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to t('header.menu.houses'), apartments_path, class: 'btn btn-primary'%>
            </li>
            <li class="nav-item">
              <% if I18n.locale == :it  %>
                <%= link_to "ENG", url_for(locale: :en), class: "nav-link" %>
              <% elsif I18n.locale == :en %>
                <%= link_to "ITA", url_for(locale: ''), class: "nav-link" %>
              <% end %>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="custom-wrap">
      <%= yield %>
      <%= render "pages/footer" %>
    </div>
  </body>
</html>
