<!DOCTYPE html>
<html>
  <head>
    <title>Ldv</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
  </head>

  <body id="backend">
    <header>
      <div class="#menu">
        <%= active_link_to 'Appartamenti', backend_all_apartments_path, class: 'item' %>
        <%= active_link_to 'Appartamenti', backend_all_apartments_path, class: 'item' %>
        <%= active_link_to 'Appartamenti', backend_all_apartments_path, class: 'item' %>
      </div>
     
    </header>
    <main></main>
    <div class="custom-wrap">
      <%= yield %>
    </div>
  </body>
</html>
 