<!DOCTYPE html>
<html>
  <head>
    <title>Ldv</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">

    <% if Rails.env.development? %>
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <% elsif Rails.env.production? %>
      <script src="https://cdn.jsdelivr.net/npm/vue/"></script>
    <% end %>

  </head>

  <body id="backend">
    <header>
      <div id="logo" class="text-center">
        <%= image_tag('logo-invert.png', alt: 'LDV') %>
      </div>
      
      <div class="#menu">
        <%= active_link_to t('backend.menu.apartments'), backend_apartments_path, class: 'item mid-text' %>
        <%= active_link_to t('backend.menu.services'), backend_services_path, class: 'item mid-text' %>
        <%= active_link_to backend_reservations_path, class: 'item mid-text multiple-elements' do %>
          <span><%= t('backend.menu.reservations') %></span>
          <% unless @waiting_reservations.zero? %>
            <div class="round"><i><%= @waiting_reservations %></i></div>
          <% end %>
        <% end %>
        <%= active_link_to t('backend.menu.areas'), backend_areas_path, class: 'item mid-text' %>
        <%= active_link_to t('backend.menu.faq'), backend_questions_path, class: 'item mid-text' %>
      </div>

      <div class="foot">
        <div class="languages">
          <%= link_to "ITA", url_for(locale: :it), class:('active' if I18n.locale == :it)%>
          <%= link_to "ENG", url_for(locale: nil), class:('active' if I18n.locale == :en) %>
        </div>
        <div class="actions">
          <%= link_to "Logout", backend_logout_path, method: :delete %>
        </div>
      </div>
     
    </header>
    <main>
      <div class="custom-wrap">
        <%= yield %>

        <div id="custom-modal" class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
            
            </div>
          </div>
        </div>
        
      </div>
    </main>
    <footer>
    </footer>
  </body>
</html>
 